FancyImageUploader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157_log.ldf
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157.mdf
FancyImageUploader.v11.suo
FancyImageUploader.v11.suo
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157_log.ldf
FancyImageUploader/obj/Debug/FancyImageUploader.csproj.GenerateResource.Cache
FancyImageUploader/obj/Debug/FancyImageUploader.csproj.FileListAbsolute.txt
FancyImageUploader/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FancyImageUploader/obj/Debug/FancyImageUploader.csproj.GenerateResource.Cache
FancyImageUploader/bin/FancyImageUploader.dll
FancyImageUploader/bin/FancyImageUploader.pdb
FancyImageUploader/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157_log.ldf
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157.mdf
FancyImageUploader.v11.suo
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157.mdf
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157_log.ldf
FancyImageUploader/obj/Debug/FancyImageUploader.csproj.GenerateResource.Cache
FancyImageUploader.v11.suo
FancyImageUploader/obj/Debug/FancyImageUploader.csproj.GenerateResource.Cache
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157_log.ldf
FancyImageUploader.v11.suo
*.suo
*.cache
FancyImageUploader/FancyImageUploader.csproj