@model FancyImageUploader.Models.UserDataModel

@{
    ViewBag.Title = "AlbumsPreview";
}

<!DOCTYPE html>

<h2>AlbumsPreview</h2>
<p>
    This page contains the list of all uploaded images.
</p>
@if (Model.Albums.Count > 0)
{
<div class="imageContainer">
@foreach (var srce in Model.Albums)
{
    <div>
    @foreach (var imag in srce.Photos)
    {
        if (null != imag.FileData)
        {
        <div class="imageBox">
        <img src ="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(imag.FileData)))" alt="Profile Picture"/>
        </div>
        }
    }
    </div>
}
</div>
}
else
{
<div class="imageCenter">
    No images have been uploaded so far. @Html.ActionLink("Click here", "UploadImage") to upload an image.
</div>
}
<div class="clear"></div>